*{
    padding: 0;
    margin: 0;
}
body{
    width: 80vw;
    margin: auto;
    border: 1px solid black;
    font-family: sans-serif;
}
section{
    padding:10px;
}
section h1{
    color: black;
    font-size: 2em;
     font-weight: 800;
}
section h3{
    color: dimgray;
    font-size: 1.5em;
}
nav{
    display: flex;
    justify-content: flex-end;
    background-color: black;
}
nav a{
    color: white;
    text-decoration: none;
    padding: 10px;
    text-transform: uppercase;
}
.tekst{
    display: grid;
    grid-template-columns: 30% 70%;
}
.side{
    padding: 20px;
}
.side a{
    display: block;
    text-decoration: none;
     padding: 3px;
      font-weight: 600;
}
.main h1{
display: flex;
    justify-content: flex-end;
    padding: 10px 10px 2px 0;
    font-weight: 800;
}
.main p{
    font-weight: 500;
    text-align: justify;
    padding: 0 10px 10px 0;
}
footer{
    border-top: 1px solid black;
    text-align: center;
    padding: 5px;
    font-weight: 500;
}